body{
    background-image:url( https://images.unsplash.com/photo-1612385763901-68857dd4c43c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHBsYXl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60;);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
}
#container{
    background-color: #FFF6BD;
    width: 30%;
    margin-top: 100px;
    padding: 20px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
#guess{
    padding: 10px;
    width: 40%;
    font-size: 15px;
    border: none;
    font-family: 'Montserrat', sans-serif;

}
#btn{
    background-color: #3C6255;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 30%;
    font-weight: bolder;

}

@media all and(max-width: 500px){
    #guess{
        width: 150px;
        padding: 5px;
        font-size: 8px;
    }
    #btn{
        font-size:10px;
        width: 40%;
    }
}

@media all and (max-width: 800px){
#guess{
    width: 80px;
    padding: 5px;
    font-size: 8px;
}
#btn{
    font-size:10px;
    width: 40%;
}
}