body{
    background-image: url(https://images.unsplash.com/photo-1497561813398-8fcc7a37b567?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fG1vdGl2YXRpb258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#btn{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Russo One', sans-serif;
    position: fixed;
}
#par{
    display: none;
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    background-color: black;
    color: white;
    margin-top: 500px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 30px;
    width: 70%;
    text-align: center;
}