.heading{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 60px;
    padding: 20px;
    font-family: 'Rubik Gemstones', cursive;
    color: #2B3467;
}
body{
    background-image: url(birthday.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#FFCAC8;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.birthday{
    background-color:#FCFFE7;
    height: 300px;
    width: 200px;
    margin-top: 50px;
    border: 3px solid #FFFFD0;
    border-radius: 30px;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    font-size: 30px;
    color: #2B3467;
    font-family: 'Rubik Gemstones', cursive;
}
.days,.hours,.minutes,.seconds{
    font-family: 'Rubik Gemstones', cursive;
    font-size: 40px;
    color: #EB455F;
}
.pink{
    font-size: 60px;
    color:#EB455F ;
    font-family: 'Rubik Gemstones', cursive;
}
button{
    border-radius: 30px;
    border: none;
    background-color:#FCFFE7;
    margin-left: 100px;
}

@media all and(max-width:800px){
    h1{
    font-size: 30px;
    }
}
@media all and(max-width:500px){
h1{
    font-size: 20px;
}
}